// Colors
$primaryDarkColor: #004f2d;
$secondaryDarkColor: #0dab6c;
$mediumColor: #508ca4;
$secondaryLightColor: #89a8bd;
$primaryLightColor: #d1e2f0;

$darkStyle: #000000;
$lightStyle: #ffffff;

// Font
$font-stack: Helvetica, sans-serif;
